.custom_margin {
    margin-top: 100px;
}

@media screen and (max-width: 2100px) {
    .custom_margin {
        margin-top: 700px;
    }
}

@media screen and (max-width:1600px) {
    .custom_margin {
        margin-top: 450px;
    }
}
@media screen and (max-width:1400px) {
    .custom_margin {
        margin-top: 350px;
    }
}

@media screen and (max-width:1200px) {
    .custom_margin {
        margin-top: 0;
    }
}