
.icon-faq-close:before { content: '\e800'; } /* '' */
.icon-faq-open:before { content: '\e801'; } /* '' */
.icon-filter:before { content: '\e802'; } /* '' */
.icon-hide-password:before { content: '\e803'; } /* '' */
.icon-history:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */
.icon-instant-cash:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-password:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-purchase-gift-card:before { content: '\e80a'; } /* '' */
.icon-safe-and-easy:before { content: '\e80b'; } /* '' */
.icon-scan:before { content: '\e80c'; } /* '' */
.icon-show-password:before { content: '\e80d'; } /* '' */
.icon-total-earned:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\e810'; } /* '' */
.icon-universal-loyalty:before { content: '\e811'; } /* '' */
.icon-back:before { content: '\e812'; } /* '' */
.icon-brand:before { content: '\e813'; } /* '' */
.icon-close:before { content: '\e814'; } /* '' */
.icon-email:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-copy:before { content: '\e817'; } /* '' */
.icon-logout:before { content: '\e818'; } /* '' */
.icon-shop-local:before { content: '\e819'; } /* '' */
.icon-support:before { content: '\e81a'; } /* '' */
.icon-customers-first:before { content: '\e81b'; } /* '' */
.icon-donate:before { content: '\e81c'; } /* '' */
.icon-not-for-profit:before { content: '\e81d'; } /* '' */
.icon-total-spent-1:before { content: '\e81e'; } /* '' */
